*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.box{
	width: 450px;
	background: rgb(0, 0, 0, 0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: sans-serif;
}

.box-img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.box h1{
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 4px;
}

.box h5{
	font-size: 25px;
	letter-spacing: 3px;
	font-weight: 100;
}

.box p{
	text-align: justify;
}


ul{
	margin: 0;
	padding: 0;
}

.box li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}

.box li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: 0.3s;
}

.box li a:hover{
	color: #b9b9b9;
}

